{{ partial "header.html" . }}

<div class="main archive">
{{ $posts := where site.RegularPages "Type" "posts" }}
{{ $sorted := sort $posts "Date" "desc" }}
{{ $p := .Paginate $sorted 20 }}
{{ range $p.Pages }}
<div class="post-item">
<span class="post-date small">{{ .Date.Format "2006-01-02" }}</span>
<span class="post-separator">·</span>
<div class="post-title-wrapper">
<a href="{{ .RelPermalink }}" class="post-title">{{ .Title | markdownify }}</a>
</div>
</div>
{{ end }}

{{ if gt $p.TotalPages 1 }}
<div class="pagination">
  {{ if $p.HasPrev }}<a href="{{ $p.Prev.URL }}">&laquo; Newer</a>{{ end }}
  {{ if $p.HasNext }}<a href="{{ $p.Next.URL }}" style="float:right">Older &raquo;</a>{{ end }}
</div>
{{ end }}
</div>
<hr/>
{{ partial "footer.html" . }}

