<div id="stalker">
  {{ if .Site.Params.social.github }}
  <a title="{{ .Site.Params.social.github }} on Github" href="https://github.com/{{ .Site.Params.social.github }}">
    <i class="fa fa-github-square"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.bitbucket }}
  <a title="{{ .Site.Params.social.bitbucket }} on Bitbucket" href="https://bitbucket.com/{{ .Site.Params.social.bitbucket }}/">
    <i class="fa fa-bitbucket-square"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.hacker_news }}
  <a title="{{ .Site.Params.social.hacker_news }} on Hacker News" href="https://news.ycombinator.com/user?id={{ .Site.Params.social.hacker_news }}">
     <i class="fa fa-hacker-news"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.stackexchange }}
  <a title="{{ .Site.Params.name }} on Stack Exchange" href="https://stackexchange.com/users/{{ .Site.Params.social.stackexchange }}">
    <i class="fa fa-stack-exchange"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.stackoverflow }}
  <a title="{{ .Site.Params.name }} on Stack Overflow" href="http://stackoverflow.com/users/{{ .Site.Params.social.stackoverflow }}">
    <i class="fa fa-stack-overflow"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.twitter }}
  <a title="{{ .Site.Params.social.twitter }} on Twitter" href="https://twitter.com/{{ .Site.Params.social.twitter }}">
    <i class="fa fa-twitter-square"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.facebook }}
  <a title="{{ .Site.Params.name }} on Facebook" href="https://facebook.com/{{ .Site.Params.social.facebook }}">
    <i class="fa fa-facebook-square"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.tumblr }}
  <a title="{{ .Site.Params.name }} on tumblr" href="https://{{ .Site.Params.social.tumblr }}.tumblr.com">
    <i class="fa fa-tumblr-square"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.linkedin }}
  <a title="{{ .Site.Params.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ .Site.Params.social.linkedin }}">
    <i class="fa fa-linkedin-square"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.gplus }}
  <a title="{{ .Site.Params.name }} on Google Plus" href="https://plus.google.com/{{ .Site.Params.social.gplus }}">
    <i class="fa fa-google-plus-square"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.instagram }}
  <a title="{{ .Site.Params.name }} on Instagram" href="https://www.instagram.com/{{ .Site.Params.social.instagram }}">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.flickr }}
  <a title="{{ .Site.Params.name }} on Flickr" href="https://www.flickr.com/photos/{{ .Site.Params.social.flickr }}">
    <i class="fa fa-flickr"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.fivehundredpx }}
  <a title="{{ .Site.Params.name }} on 500px" href="https://500px.com/{{ .Site.Params.social.fivehundredpx }}">
    <i class="fa fa-500px" aria-hidden="true"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.social.weibo }}
  <a title="{{ .Site.Params.name }} on 新浪微博" href="https://www.weibo.com/{{ .Site.Params.social.weibo }}">
    <i class="fa fa-weibo" aria-hidden="true"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.show_atom_feed }}
  <a title="Atom feed" id="atom" href="/atom.xml">
    <i class="fa fa-rss-square"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.show_email }}
  <a title="Send a email" href="mailto:{{ .Site.Params.email }}">
    <i class="fa fa-envelope-square" aria-hidden="true"></i>
  </a>
  {{ end }}

</div>
